:root {
  --base-font: 20px;
  --primary-font: "Poppins";
  --secondary-font: "Courier";
  --white: #ffff;
  --primary-bg: #0a0c11;
  --primary-text: #abadb3;
  --primary-color: #2292b1;
  --start-gradient: #1b3385;
  --end-gradient: #25c5c9;
  --link-color: #abadb3;
  --hover-color: #2292b1;
  --sub-menu-color: #222;
  --border-color: #313438;
  --normal: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  /* --thin: 100;
  --extra-light: 200;
  --light: 300;
  --extra-bold: 800;
  --heavy: 900;*/
}

body {
  box-sizing: border-box;
  font-family: var(--primary-font);
  font-size: var(--base-font);
  color: var(--primary-text);
  background-color: var(--primary-bg);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
  font-weight: var(--medium);
  color: var(--white);
  margin: 0;
}

h1 {
  font-size: 4em;
  font-weight: var(--medium);
  line-height: 1.5em;
}

h2 {
  font-size: 2em;
  font-weight: var(--medium);
  line-height: 2.85em;
}

h3 {
  font-size: 1.47em;
  font-weight: var(--medium);
  line-height: 1.92em;
}

h4 {
  font-size: 1.4em;
  font-weight: var(--bold);
  line-height: 2.1em;
}

h5 {
  font-size: 1.2em;
  font-weight: var(--bold);
  line-height: 1.6em;
}

h6 {
  font-size: 1.44em;
  font-weight: var(--semi-bold);
  line-height: 1.4em;
}

.lowlight {
  opacity: 0.5;
}

a {
  color: var(--primary-text);
  text-decoration: none;
  font-size: 0.9em;
  font-style: normal;
  font-weight: var(--normal);
  line-height: 2.4em;
  text-transform: capitalize;
}

ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}

a:hover,
.logo:hover {
  color: var(--hover-color);
}

header {
  display: flex;
  width: 100%;
  margin: 0 auto;
  height: 120px;
  padding-left: 90px;
  padding-right: 100px;
}

header * {
  flex: 1;
}

.logo {
  font-weight: var(--bold);
  font-size: 1.6em;
  color: var(--white);
}

.selection {
  color: var(--hover-color);
}

.nav li {
  margin: 0 18px;
}

.nav li:nth-child(2) ul {
  display: none;
}

.nav li:nth-child(2) {
  position: relative;
  min-width: 110px;
}

.nav li:nth-child(2):hover ul {
  display: block;
}

.ul-nav {
  position: absolute;
  top: 44px;
  left: -20px;
  z-index: 99;
}

.ul-nav li {
  width: 235px;
  height: 44px;
  background-color: var(--sub-menu-color);
  border-bottom: 1px solid var(--border-color);
  padding-left: 23px;
}

.ul-nav a {
  font-size: 0.75em;
  font-weight: var(--normal);
}

.social {
  justify-content: flex-end;
}

.social li {
  flex: 0;
  padding: 0 15px;
  position: relative;
}

.circle {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  left: 4px;
}

.circle:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

/* main */
.main-box {
  width: 750px;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 70px;
}

.main-box p {
  margin-bottom: 50px;
  font-size: 1.2em;
  font-weight: var(--light);
}

.cta {
  border-radius: 30px;
  background: linear-gradient(
    90deg,
    var(--start-gradient) 0%,
    var(--end-gradient) 100%
  );
  border: 0;
  height: 60px;
  font-size: 0.9em;
  font-weight: var(--bold);
  text-transform: capitalize;
  color: var(--white);
  padding: 15px 35px;
  text-align: center;
}

.cta:hover {
  color: var(--primary-bg);
  background: var(--white);
}
